<!DOCTYPE html>
<html>
    <head>
        <title>투표앱</title>
    </head>
    <body>
        <h1>투표 결과 </h1>
        <p>소미 : <%= @result["sm"]%></p>       
        <p>세정 : <%= @result["sj"]%></p>
        <p>채연 : <%= @result["cy"]%></p>
        <p>소혜 : <%= @result["sh"]%></p>
        <p>유정 : <%= @result["yj"]%></p>
    </body>
</html>
