<h1>투표 결과</h1>
<p><%= @yes %>명이 홍석님 추방에 찬성하셨습니다.</p>
<p>총 <%= @total %>명이 투표에 참가하셨습니다.</p>

<% if @yes.to_f / @total > 0.5 %>
<%= "님 제주에 계셈, 영원히" %>
<% else %>
<%= "사랑해요, 돌아와요 BJ" %>
<% end %>

<% @cheers.each do |x| %>
<p> 이름 : <%= x[0] %> </p>
<p> 응원의 말 : <%= x[1] %> </p>

<% end %>